<div id="main-menu-view" class="view">
    <div id="main-menu-header"></div>
    <div id="main-menu-content">
        <ul>
            <li onclick="app.loadView(app.views.locations);">LOKACIJE RESTORANA</li>
            <li onclick="app.loadView(app.views.program);">DW&D PROGRAM</li>
            <li onclick="app.loadView(app.views.bestbuy);">DW&D BEST BUY</li>
            <li onclick="app.loadView(app.views.wpartners);">VINSKI PARTNERI</li>
            <li onclick="app.loadView(app.views.rpartners);">PARTNER RESTORANI</li>
        </ul>
    </div>
    <div id="main-menu-footer"></div>
</div>