<div id="main-menu-view" class="view">
    <div id="main-menu-header"></div>
    <div id="main-menu-content">
        <ul>
            <li onclick="app.navigateTo(app.views.locations, true);">LOKACIJE RESTORANA</li>
            <li onclick="app.navigateTo(app.views.program, true);">DW&D PROGRAM</li>
            <li onclick="app.navigateTo(app.views.bestbuy, true);">DW&D BEST BUY</li>
            <li onclick="app.navigateTo(app.views.wpartners, true);">VINSKI PARTNERI</li>
            <li onclick="app.navigateTo(app.views.rpartners, true);">PARTNER RESTORANI</li>
        </ul>
    </div>
    <div id="main-menu-footer"></div>
</div>